/*Página diário */

@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
#body{
    display: flex;
    width: 100%;
}
#fieldset{
    background-color:royalblue;
    margin: 8px;

}
.cor-azul{
    width: 80%;
    height: 50px;
    border: 3px solid #0A6DC9;
    border-radius: 20px
}

input{
    align-items: center;
}
.side{
    background: linear-gradient(to right, #1e81b0, #063970);
    width: 15%;
   
}
.content{
    background: white;
    width: 75%;
    display: flex;
    flex-direction: row-reverse;
    height: 603px;
    padding: 12px;
}
.tittle {
    font-size: 40pt;
    text-align: left;
    flex: 1;
    padding: 5px;
    font-family: Inria Sans , sans-serif;
    font-weight: 300;
    font-style: normal;
}
.quiz {
    font-size: 20pt;
    text-align: center;
    font-family: Inria Sans, sans-serif;
    font-weight: 300;
    font-style: normal;
}
.question{
    text-align: -webkit-center;
    width: 600px;
    height: 63px;
    flex-shrink: 0;
}
input:hover,
input:focus {
    outline: none;
    border-color: #056BC9;
    box-shadow: 0 0 0 0.3125rem #021533;
}

.link-history{
    color: #056BC9;
    text-align: center;
    font-family: Inria Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}                                                   
.menu-lateral{
    width: 100px;
    height: 100%;
    background-color: #0A6DC9;
    padding: 35px 0 35px 1%;
    box-shadow: 3px 0 0 #063970;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2s;
    margin: 1;
    font-family: "Inria Sans", sans-serif;
}
.menu-lateral:hover{
    width: 300px;

}
.btn-expandir{
    width: 100%;
    padding: 10px;
}
.btn-expandir > i{
    color: white;
    font-size: 24px;
    cursor: pointer;
}
ul{
    height: 100%;
    list-style-type: none;
}
ul li.itens-menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}
ul li.itens-menu:hover{
    background: #063970;
    
}
ul li.itens-menu{
    transition: .2s;
}
.txt-link{
    margin-left: 40px;
}
.icon{
    font-size: 30px;
    margin-left: 10px;
}
img{
    width: 40%;
    text-align: center;
}
.logo-azul{
    width: 20%;
    text-align: right;
    margin: auto;

}

select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    
  }
   select,#feelings,.cor-azul{
    text-align: center;
    font-family: 'Inria Sans';
    font-size: 20px;

    }
  