@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* Menu lateral */

.menu-lateral{
    width: 100px;
    height: 90%;
    background-color: rgb(10, 109, 201);
    padding: 35px 0 35px 1%;
    box-shadow: 3px 0 0 #063970;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2s;
    margin: 1;
}

.menu-lateral:hover{
    width: 300px;
}

.btn-expandir{
    width: 100%;
    padding: 10px;
}

.btn-expandir > i{
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.icon{
    font-size: 30px;
    margin-left: 10px;
}

.txt-link{
    margin-left: 40px;
}

ul{
    list-style-type: none;
}
ul li.itens-menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}
ul li.itens-menu:hover{
    background: #063970;
    
}
ul li.itens-menu{
    transition: .2s;
}

a {
    color: white;
}
 

  .search-box{  
    
    border-radius: 20px;
    width: 350px;
    cursor: pointer;
    
 }

 
  
  .forum2{
    width: 70%;
    margin-left: 250px;
    margin-top: 50px;
     
  }

  
  
  .forum-container {
    background: white;
    padding: 20px;
    
    
  }

  
  #topic-container {
    margin-top: 60px;
 
  }
  
  .topic {
    margin-bottom: 10px;
    border-top: 1px solid rgb(0, 80, 253);
    margin-top: 10px;

    
  }
  
  .topic-title {
    font-size: 18px;
    font-weight: bold;
    color: #f7f7f7;
    margin-top: 20px;
    padding-left: 10px;
    background-color:  #0a6dc9;
    height: 60px;
    padding-top: 10px;
    border-radius: 10px;
       
  }
  
  .messages {
    margin-left: 30px;
    margin-top: 10px;
    
  }
  
  .message {
    background: #fbfbfb;
    color: rgb(0, 0, 0);
    border: 2px solid  #0084ff;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
    height: 40px;
    border-radius: 15px;
    width: 90%;
    margin-top: 5px;
  }
  
  .new-topic,
  .new-message {
    display: flex;
    padding-left: 80px;
    width: 80%;
    
  }
  
  .new-topic input,
  .new-message input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid   #0a6dc9;
    border-radius: 4px;
    background-color: #3d83ed23;
    height: 40px;
    
    
  
  }
  
  .new-topic button,
  .new-message button {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    margin-left: 10px;
    height: 40px;
    border: none;
    border-radius: 4px;
    background-color: #0a6dc9;
    color: rgb(255, 255, 255);
    cursor: pointer;
    
    
  }
  

  

  body{
    background-color: rgba(4, 41, 225, 0.047);
    color: aliceblue;
    max-width: 100%;
    margin: 0 auto;
    padding: 15px;

}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:  #0a6dc9;
    width: 100%;

}

#tittle{
    flex-direction: column;
    color: #ffffff;
    margin-left: 150px;
    
}

li{
    display: inline-block;
    margin: 20px;
}

h1{
    font-weight: 200;
}


h2{
    font-size: 50px;
    line-height: 10px;

}


p{
    color: aliceblue;
    max-width: 500px;

}

a{
    color: aliceblue;

}


form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
}


.pesquisar{
  width: 68px;
  height: 20px;
  margin-top: 28px;
  background-color: rgb(24, 139, 246);
  margin-left: 50px;
  color: #f7f7f7;
  
  

}


.buscar-box{
  width: 30px;
  height: 80px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  position: relative;
  transition: .5s;
  margin-right: 30px;
}

.buscar-box.ativar{
  width: 400px;
}

.buscar-box .lupa-buscar, .buscar-box .btn-fechar{
  min-width: 30px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  
}

.buscar-box .btn-fechar i{
  font-size: 20px;
  margin-left: 40px;
}

.buscar-box .lupa-buscar i{
  font-size: 35px;
}

.buscar-box .input-buscar{
  position: absolute;
  left: 50px;
  width: calc(100% - 120px);
  height: 100%;
  line-height: 40px;
}

.buscar-box .input-buscar input{
  border: 0;
  outline: 0;
  font-size: 20px;
}