@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    font-family: "Inria Sans", sans-serif;
}

/* Menu lateral */

.menu-lateral {
    width: 60px;
    height: 90%;
    background-color: #0A6DC9;
    padding: 35px 0 35px 1%;
    box-shadow: 3px 0 0 #063970;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: width 0.5s;
    margin: 1px;
    line-height: 0.5;
}

nav.menu-lateral.expandir {
    width: 200px;
}

.btn-expandir {
    width: 100%;
    padding: 10px;
}

.btn-expandir > i {
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.icon {
    font-size: 30px;
    margin-left: 10px;
}

.txt-link {
    margin-left: 40px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li.itens-menu:hover {
    transition: background-color 0.2s;
}

ul li.ativo {
    background-color: #0056b3;
}

ul li.itens-menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 2%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    line-height: 20px;
}

ul li.itens-menu:hover {
    background: #063970;
}

#avatarImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: -1px;
}

#avatarName {
    color: white;
    font-size: 16px;
    font-style: italic;
    display: none;
}

.menu-lateral.expandido #avatarName {
    display: inline;
}

/* Página Exrecícios */

.main-exercicios {
    width: auto;
    margin-left: 12%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}

.container-videos {
    background-color: lightblue;
    display: flex;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 2%;
    flex-direction: row;
    width: auto;
    height: auto;
}

.container-videos:hover {
    background-color: lightblue;
}

iframe {
    margin: 1%;
    border-radius: 10px;
    display: inline-block;
    
}

.descricao {
    float: left;
}

/* boão mostrar comentários*/

.ativar-comentarios{
    display: flex;
    margin-left: auto;
    margin-right: 2%;
    background-color: lightblue;
    padding: 5px;
    border-radius: 10px;
    border-width: 1px;
}

.ativar-comentarios:hover {
    background-color: aliceblue;
    cursor: pointer;
}

/*comentarios*/

.container-comentarios {
    background-color: aliceblue;
    margin: 2%;
    margin-top: 0;
    padding: 2%;
    padding-top: 0;
    padding-bottom: 1%;
    border: solid black;
    border-radius: 0px 0px 10px 10px;
    border-width: 0px 1px 1px 1px;
    display: none;
    box-sizing: border-box;
}

.btn-comentar{
    display: flex;
    margin-left: auto;
    background-color: lightblue;
    padding: 5px;
    border-radius: 10px;
    border-width: 1px;
}

.btn-comentar:hover{
    background-color: aliceblue;
    cursor: pointer;
}

.comentario-exibido{
    background-color: lightblue;
    padding: 1%;
    border: 1px solid black;
    border-radius: 10px;
}

.taComentario {
    width: 97.8%;
    border-radius: 10px;
    resize: none;
    padding: 1%;
}

