@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    font-family: "Inria Sans", sans-serif;
}

/* Menu lateral */

.menu-lateral{
    width: 100px;
    height: 90%;
    background-color: #0A6DC9;
    padding: 35px 0 35px 1%;
    box-shadow: 3px 0 0 #063970;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2s;
    margin: 1;
    font-family: "Inria Sans", sans-serif;
}

.menu-lateral:hover{
    width: 300px;
}

.btn-expandir{
    width: 100%;
    padding: 10px;
}

.btn-expandir > i{
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.icon{
    font-size: 30px;
    margin-left: 10px;
}

.txt-link{
    margin-left: 40px;
}

ul{
    list-style-type: none;
}
ul li.itens-menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}
ul li.itens-menu:hover{
    background: #063970;
    
}
ul li.itens-menu{
    transition: .2s;
}

a {
    color: white;
}

/* Página Exrecícios */

.main-exercicios {
    width: auto;
    margin-left: 12%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}

.container-videos {
    background-color: lightblue;
    display: flex;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 2%;
    flex-direction: row;
    width: auto;
    height: auto;
}

.container-videos:hover {
    background-color: lightblue;
}

iframe {
    margin: 1%;
    border-radius: 10px;
    display: inline-block;
    
}

.descricao {
    float: left;
}

/*comentarios*/

.comentarios {
    background-color: aliceblue;
    margin: 2%;
    margin-top: 0;
    padding: 2%;
    padding-bottom: 1%;
    border: solid black;
    border-radius: 0px 0px 10px 10px;
    border-width: 0px 1px 1px 1px;
}

.btn-comentar{
    display: flex;
    margin-left: auto;
}