
body {
    margin: 0px;
}

/* Menu lateral */

.menu-lateral{
    width: 100px;
    height: 90%;
    background-color: #0A6DC9;
    padding: 35px 0 35px 1%;
    box-shadow: 3px 0 0 #063970;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2s;
    margin: 1;
}

.menu-lateral:hover{
    width: 300px;
}

.btn-expandir{
    width: 100%;
    padding: 10px;
}

.btn-expandir > i{
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.icon{
    font-size: 30px;
    margin-left: 10px;
}

.txt-link{
    margin-left: 40px;
}

ul{
    list-style-type: none;
}
ul li.itens-menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}
ul li.itens-menu:hover{
    background: #063970;
    
}
ul li.itens-menu{
    transition: .2s;
}

a {
    color: white;
}

/* Página ---- */

.content-topo {
    display: flex;

    align-items: center;
    margin: auto;
    background-image: url(../Imagens/DASHBOARD/vetor-topo-sejabemvindo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 90%;
    min-height: 300px;
    margin-top: 0px;
    padding: 0px;
    margin-left: 120px;
}

.text-container {
    padding-left: 10%;
}

.img-container img {
    width: 200px;
    z-index: 1000;
    margin-left: 50%;
}

.container {
    margin-left: 135px

}

.container-recomandation {
    margin-top: 5%;
    padding-left: 3%;

}

.cards {
    display: flex;
    justify-content:space-between ;
    width: 80%;
    margin-top: 2%;
}

.card {
    border-radius: 10px;
    border: 2px;
}