@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #056BC9;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #ffffff;
  }


.body-index{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    
}

.header-index {
    text-align: right;
    background-color: #056BC9;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: right;
    gap: 30px;
}

.header-index > a {
    color: white;
    font-size: 30px;
    font-weight: 800;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-style: normal;
}

.header-index > a:last-child{
    margin-right: 70px;
}

.header-index > a:hover {
    color: rgb(131, 131, 131);
}

.container-index{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 100px;
    gap: 200px;

}

.container-index > img {
    width: 60vw;
}

#ondas-home {
    width: 100vw;
    height: auto;
    margin-top: auto;
    
}

#vetor1-tela-home {
    width: 700px;

}

.content-index {
    padding-bottom: 225px;
    margin-right: 150px;
    
}

.content-index > h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: 600;
    color: black;
    margin: 0;
}

.content-index > h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight:500;
    color: #0A6DC9;
    margin: 0;
    line-height: 0.9;

}

#MENTAL {
    padding-left: 50px;
}

#IMPORTA {
    padding-left: 180px;
}

.vetores {
    position: absolute;
    top: 35%;
    right: 10%;
}

#vetor-mais2 {
    position: absolute;
    right: 340%;
    top: 260%;
}

#vetor-mais1 {
    position: relative;
    top: 10%;
    right: 80%;
    
}

#vetor-igual {
    position: relative;
    bottom: 10%;

}

.quem-somos {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: auto;
    font-family: 'Inria Sans';
    padding-top: 80px;
    background-color: #056BC9;
    width: 100%;
    padding-bottom: 80px;

}

.quem-somos h1 {
    text-transform: uppercase;
    font-size: 70px;
    color: #fff;
}

.quem-somos p {
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 60%;
    margin: auto;
    font-size: 22px;
    line-height: 2;

}