.body-login {
    background: linear-gradient(to right, #1e81b0, #063970);
    margin-top: 10vh;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.main-login{
    background: white;
    width: 80vw;
    height: 80vh;
    display: flex;
    border-radius: 10px;
}

/*left-login*/

.left-login{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-login > h1 {
    color: rgb(56, 56, 209);
    margin: 0;
    margin-top: 1vh;
    padding: 0;
}

.left-login > img {
    width: 30vw;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

/*right-login*/

.right-login {
    width: 50vw;
    justify-items: center;
}

.container-login {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.sign-up {
    text-align: right;
    margin-right: 3vw;
    margin-top: 2%;
}

.sign-up > a {
    text-decoration: none;
    color: blue;
    border-style: solid;
    border-radius: 10px;
    font-weight: 800;
    border-width: 1px;
    padding: 5px 4px;
    box-sizing: border-box;
}

.sign-up > a:hover {
    background: blue;
    color: white;
    border: blue;
    border-style: solid;
    box-sizing: border-box;
    border-width: 1px;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: white;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

.card-login > h1 {
    font-weight: 800;
    margin-left: 3vw;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.textfield > input {
    width: 100%;
    border-color: blue;
    border-radius: 25px;
    padding: 15px;
    outline: none;
    box-sizing: border-box;
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color:white;
    background: blue;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px grey;
}

.btn-login:hover {
    background: rgb(0, 0, 145);
}

.card-login > a {
    text-decoration: none;
    color: red;
    font-size: smaller;
    display: block;
    margin-left: auto;
}

.card-login > a:hover {
    color: rgb(180, 0, 0);
}

.continuar-logado {
    display: block;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 0.75em;
    text-decoration: none;
    font-weight: 800;
    color: blue;
}

@media only screen and (max-width:600px) {
    .main-login {
        flex-direction: column;
        height: auto;
    }

    .left-login {
        width: 100%;
    }

    .left-login > img {
        display: none;
    }

    .right-login {
        width: 100%;
    }
<<<<<<< Updated upstream
=======

    .btn-login {
        margin-left: auto;
        margin-right: auto;
        padding: 16px 32px;
    }
>>>>>>> Stashed changes

    .continuar-logado {
        display: none;
    }
}
