.body-login {
    background: linear-gradient(to right, #1e81b0, #063970);
    margin-top: 10vh;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.main-login{
    background: white;
    width: 80vw;
    height: 80vh;
    display: flex;
    border-radius: 10px;
}

/*left-login*/

.left-login{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-login > h1 {
    color: rgb(56, 56, 209);
    margin: 0;
    margin-top: 7vh;
    padding: 0;
    font-family: cursive, sans-serif;
    font-size: 2.2em;
}

.left-login > p {
    margin: 0;
    padding: 0;
    font-family: 'caveat', sans-serif;
    font-size: 2em;
}

.left-login > img {
    width: 30vw;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

/*right-login*/

.right-login {
    width: 50vw;
    justify-items: center;
}

.container-login {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.sign-up {
    text-align: right;
    margin-right: 3vw;
    margin-top: 2%;
    font-size: 0.7em;
}

.sign-up > a {
    text-decoration: none;
    color: #063970;
    border-style: solid;
    border-radius: 10px;
    font-weight: 800;
    border-width: 1px;
    padding: 4px 3px;
    box-sizing: border-box;
    font-size: 1.5em;
}

.sign-up > a:hover {
    background: #063970;
    color: white;
    border: #063970;
    border-style: solid;
    box-sizing: border-box;
    border-width: 1px;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: white;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

.card-login > h1 {
    font-weight: 800;
    margin-left: 3vw;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.textfield > input {
    width: 100%;
    border-radius: 25px;
    padding: 15px;
    outline: none;
    box-sizing: border-box;
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.btn-container > input {
    width: 35%;
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color:white;
    background: #063970;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px grey;
}

.btn-login:hover {
    background: #1e81b0;
}

.card-login > a {
    text-decoration: none;
    color: red;
    font-size: smaller;
    display: block;
    margin-left: auto;
}

.card-login > a:hover {
    color: rgb(180, 0, 0);
}

.continuar-logado {
    display: block;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 0.75em;
    text-decoration: none;
    font-weight: 800;
    color: #063970;
}

@media only screen and (max-width:700px) {
    .main-login {
        flex-direction: column;
        height: auto;
    }

    .left-login {
        width: 97%;
        background-color: #063970;
        border-style: solid;
        border-radius: 10px;
        border-color: black;
        margin-top: 0.5vh;
        margin-left: 0.5vw;
    }

    .left-login > img {
        display: none;
    }


    .right-login {
        width: 100%;
    }

    .left-login > h1 {
        font-size: 2.2em;
        color: white;
        margin-top: 0;
    }

    .left-login > {
        font-size: 2em;
    }

    .right-login {
        width: 100%;
    }


    .btn-login {
        margin-left: auto;
        margin-right: auto;
        padding: 8px 16px;
    }

    .continuar-logado {
        display: none;
    }
}
